body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgreen;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  background-color: rgb(25, 136, 22);
  margin-top: 2%;
  float: left;
  width: 100% ;
}
main{
  float: left;
  width: 100%;
}
#box{
  float: left;
  width: 100%;
}
#elegir li {
  list-style: none;
  
}
#titulo1{
  text-align: center;
  font-family: 'Butterfly Kids', cursive;
font-family: 'Nerko One', cursive;
}
h2{
  text-align: center;
  font-family: 'Butterfly Kids', cursive;
font-family: 'Nerko One', cursive;
}
ul{
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0;
}
#button{
  width: 20%;
  margin: 1% 40%;
  background-color:  lightgreen;
}  

.img{
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 5px rgb(5, 5, 5);
  -moz-box-shadow: 2px 2px 5px rgb(0, 0, 0);
  margin: 2%;
  -webkit-transition:all .9s ease;
}
.box1{
  width: 35%;
  margin: 2% 5%;
  float: left;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box1 img{
  -webkit-box-shadow: 2px 2px 5px rgb(5, 5, 5);
  -moz-box-shadow: 2px 2px 5px rgb(0, 0, 0);
  margin: 2%;
  -webkit-transition:all .9s ease;
}
.player{
  text-align: center;
  width: 100%;
  font-size: 2em;
}
#vs{
  width: 10%;
  float: left;
  text-align: center;
  margin-top: 10%;
  font-family: 'Butterfly Kids', cursive;
  font-family: 'Nerko One', cursive;
  font-size: 3em;
}
#mensaje{
  width: 80%;
  margin: 2% 10%;
  float: left;
  text-align: center;
  font-family: 'Butterfly Kids', cursive;
  font-family: 'Nerko One', cursive;
  font-size: 4em;
}
#descripcion{
  text-align: justify;
  width: 90%;
  margin: 2% 5%;
  float: left;
  font-size: 2em;
}


@media (max-width: 810px) {
  
.img{
  width: 70px;
  height: 70px;
  
}
#root{
  margin-top: 0;
}
#vs{
  margin-top: 25%;
}
}
@media (max-width: 600px){
  #vs{
    margin-top: 30%;
  }
  #descripcion{
    font-size: 1em;
  }
  .img1{
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 480px) {
  
  ul{
    display: block;
  }
  .img{
    width: 75px;
    height: 75px;
    
  }
  #button{
    width: 70px;
  }
  #root{
    margin-top: 2%;
  }
  #mensaje{
    font-size: 2em;
  }
  #vs{
    font-size: 1em;
  }
  }